.component-content {
  padding: 12px;
  min-height: calc(100vh - 54px - 40px);

  .comp-title {
    margin-left: 6px;
    margin-right: 6px;
  }

  .search-section {
    position: relative;
    overflow: auto;
    max-width: 1600px;

    mat-form-field {
      width: 220px;
      margin: 6px;

      &.order-code {
        width: 136px;
      }
      &.kyc-result {
        width: 136px;
      }
      &.order-status {
        width: 200px;
      }
      &.progress-status {
        width: 200px;
      }
    }

    button {
      &.search-btn {
        margin: 6px;
        width: 220px;
        &.clear {
          width: 120px;
          height: 44px;
        }
        &.search {
          width: 220px;
          height: 44px;
        }
      }
    }
  }

  .data-table-section {
    padding: 24px 11px 16px 11px;

    .mdc-data-table__header-cell{
      font-family: 'Noto Sans Thai Looped Semi Bold';
      vertical-align: middle;
      max-width: 320px;

      &.mat-column-orderNo {
        min-width: 166px;
      }
      &.mat-column-createTime {
        min-width: 140px;
      }
      &.mat-column-updateTime {
        min-width: 140px;
      }
      &.mat-column-customerName {
        min-width: 163px;
      }
      &.mat-column-customerContact {
        min-width: 140px;
      }
      &.mat-column-simMobileNo {
        min-width: 140px;
      }
      &.mat-column-statusProvisioning {
        min-width: 150px;
      }
      &.mat-column-progressApi {
        min-width: 140px;
      }
      &.mat-column-statusProgress {
        min-width: 150px;
      }
      &.mat-column-trackingData {
        min-width: 146px;
      }
    }

    .mdc-data-table__cell {
      font-family: 'Noto Sans Thai Looped';
      vertical-align: middle;
      max-width: 320px;
    }

    .mat-mdc-row {
      height: 48px;
    }

    // .mdc-data-table__row:nth-child(even){
    //   background-color: #f5f5f5;
    // }
    // .mdc-data-table__row:nth-child(odd){
    //   background-color: #fff;
    // }
    .mdc-data-table__row {
      &:hover {
        background-color: #f8f8f8;
      }
    }

    .text-center {
      text-align: center;
    }

    .txt-stat-success, .txt-stat-repair-success {
      color: #4ec753;
    }
    .txt-stat-fail {
      font-family: 'Noto Sans Thai Looped Semi Bold';
      color: #fd2424;
    }
    .txt-stat-waiting {
      color: #ff9800;
    }
    .txt-stat-in-progress {
      color: #03a9f4;
    }
  }
}
