<div class="component-content">
  <h3 class="comp-title">Order List</h3>

  <form class="search-section">
    <mat-form-field>
      <mat-label>Order No</mat-label>
      <input matInput value="{{search.orderNo}}" (change)="searchOrderNo($event)">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Transaction Id</mat-label>
      <input matInput value="{{search.transactionId}}" (change)="searchTransactionId($event)">
    </mat-form-field>

    <mat-form-field class="order-code">
      <mat-label>Order Code</mat-label>
      <mat-select value="{{search.orderCode}}" (valueChange)="searchOrderCode($event)">
        <mat-option>-- None --</mat-option>
        <mat-option value="4">Code 4</mat-option>
        <mat-option value="5">Code 6</mat-option>
        <mat-option value="6">Code 6</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date Created</mat-label>
      <input matInput [matDatepicker]="dCreated"
             (dateInput)="searchDateCreated($event)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dCreated"></mat-datepicker-toggle>
      <mat-datepicker #dCreated></mat-datepicker>
    </mat-form-field>

    <div>
      <button mat-raised-button class="search-btn clear" (click)="clearSearch()">Clear</button>
      <button mat-raised-button color="primary" type="submit"
      class="search-btn search" (click)="submitSearch()">Search</button>
    </div>
  </form>
</div>
