<div class="component-content">
  <h3>Order List</h3>

  <form class="example-form search-section">
    <mat-form-field class="example-full-width">
      <mat-label>Order No</mat-label>
      <input matInput placeholder="Ex. WS123xx">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Transaction Id</mat-label>
      <input matInput placeholder="Ex. LGOxx">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Order Code</mat-label>
      <mat-select>
        <mat-option value="one">First option เลือกฉันจ้าา</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
