<div class="admintools-web {{active}}">
  <aside>
    <h1 class="title">Admintools Web</h1>
    <div>aside adalkfjlskfjslkdfjskfjlksjf---------skfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjf---55555</div>
    <ul>
      <li *ngFor="let i of li">aside {{i}}</li>
    </ul>
  </aside>
  <main>
    <header (click)="activeClass()">header</header>

    <router-outlet></router-outlet>

    <footer>
      <div class="footer">
        <div>Copyright &copy; - <a [routerLink]="['/']">AIS 2023</a></div>
      </div>
    </footer>
  </main>
</div>
