<div class="main-container {{activeNavbar}}">
  <aside *ngIf="loggedin">
    <div class="aside">
      <div class="list-ctn">
        <div class="list-block">
          <div class="list-title">Hi, <span class="disp-uname">{{userData.userName}}</span></div>
          <div class="list-item"><a [routerLink]="" class="hover-a" (click)="openDialog()">Logout</a></div>
        </div>
        <div class="list-block">
          <div class="list-title">Orders</div>
          <div class="list-item"><a [routerLink]="['order']">Order List</a></div>
          <div class="list-item"><a [routerLink]="['order/reserve']">Order Reserve</a></div>
          <!-- <div class="list-item"><a [routerLink]="['/']">Action Logs</a></div> -->
        </div>
        <div class="list-block">
          <div class="list-title">Configuration</div>
          <!-- <div class="list-item"><a [routerLink]="['/']">Action Logs</a></div> -->
          <div class="list-item"><a [routerLink]="['/xx']">404 not found</a></div>
        </div>
      </div>
    </div>
  </aside>

  <main>
    <header>
      <button mat-icon-button aria-label="Example icon button with a menu icon" (click)="activeClass()">
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="['/']" class="app-name"><h1 class="title-name">Admintools Lego</h1></a>
      <a mat-button href="/login" class="click-login" *ngIf="!loggedin">/ Login</a>
    </header>
    <mat-divider></mat-divider>

    <router-outlet></router-outlet>
    <mat-divider></mat-divider>

    <footer>
      <div class="footer">
        <div>Copyright &copy; - <a [routerLink]="['/']">AIS 2023</a></div>
      </div>
    </footer>
  </main>
</div>
