<div class="main-container {{active}}">
  <aside>
    <div class="aside">
      <div class="list-ctn">
        <div class="list-block">
          <div class="list-title">Hi, Pepper</div>
          <div class="list-item"><a [routerLink]="['/']">Logout</a></div>
        </div>
        <div class="list-block">
          <div class="list-title">Orders</div>
          <div class="list-item"><a [routerLink]="['/']">Order List</a></div>
          <div class="list-item"><a [routerLink]="['/']">Reserve Order</a></div>
          <div class="list-item"><a [routerLink]="['/']">Action Logs</a></div>
        </div>
        <div class="list-block">
          <div class="list-title">Configuration</div>
          <div class="list-item"><a [routerLink]="['/']">Action Logs</a></div>
          <div class="list-item"><a [routerLink]="['/']">Order Export</a></div>
        </div>
      </div>
    </div>
  </aside>

  <main>
    <header>
      <button mat-icon-button aria-label="Example icon button with a menu icon" (click)="activeClass()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="head-title">Admintools Lego <a mat-button [routerLink]="['/']" class="click-login">/ Login</a></h1>
    </header>
    <mat-divider></mat-divider>

    <router-outlet></router-outlet>
    <mat-divider></mat-divider>

    <footer>
      <div class="footer">
        <div>Copyright &copy; - <a [routerLink]="['/']">AIS 2023</a></div>
      </div>
    </footer>
  </main>
</div>
