@font-face {
  font-family: 'Noto Sans Thai Looped Light';
  src: url('./NotoSansThaiLooped-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans Thai Looped';
  src: url('./NotoSansThaiLooped-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans Thai Looped Medium';
  src: url('./NotoSansThaiLooped-Medium.ttf') format('truetype');
  font-weight: 500;
}
