<div>
  <div>home work!</div>
  <p>adalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfj lskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajf --9kfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajkdfjskfjlksjfklajfkfjlk===========jfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjf----99999</p>
  <p>adalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfj lskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajkdfjskfjlksjfklajfkfjlk===========jfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjf----99999</p>
  <h2>adalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfj lskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajkdfjskfjlksjfklajfkfjlk===========jfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjf----99999</h2>
  <div>aside adalkfjlskfjslkdfjskfjlksjf---------skfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjfadalkfjlskfjslkdfjskfjlksjfklajfkfjlkjf---55555</div>
  <ul>
    <li *ngFor="let i of li">content {{i}}</li>
  </ul>
  <ul>
    <li *ngFor="let i of li">content {{i}}</li>
  </ul>
  <ul>
    <li *ngFor="let i of li">content {{i}}</li>
  </ul>
  <ul>
    <li *ngFor="let i of li">content {{i}}</li>
  </ul>
  <ul>
    <li *ngFor="let i of li">content {{i}}</li>
  </ul>
  <ul>
    <li *ngFor="let i of li">content {{i}}</li>
  </ul>
  <ul>
    <li *ngFor="let i of li">content {{i}}</li>
  </ul>
</div>
