.component-content {
  padding: 11px;
  min-height: calc(100vh - 54px - 40px);
  position: relative;
  overflow: auto;
  max-width: 1040px;

  .comp-title {
    margin-left: 6px;
    margin-right: 6px;
  }

  .inner-block {
    padding: 11px;
    margin: 10px 0;
    border: 1px #888 dashed;
    border-radius: 3px;

    .date-clear {
      width: 100px;
    }
    .log-clear {
      min-width: 66px;
    }

    .font-light {
      font-family: 'Noto Sans Thai Looped Light';
    }

    .response {
      margin-top: 16px;

      &.success {
        color: #4ec753;
      }
      &.fail {
        color: #ff6060;
      }
    }
  }
}

.mat-typography {
  width: calc(100vw - 56px);
  max-width: 320px;
  min-height: 76px;
  font-family: 'Noto Sans Thai Looped';
  font-size: 1.05em;
  line-height: 1.5;
  color: #121212;
}
